
.icon-check-thick:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-album:before { content: '\e802'; } /* '' */
.icon-android:before { content: '\e803'; } /* '' */
.icon-anon-status:before { content: '\e804'; } /* '' */
.icon-arrow-direction:before { content: '\e805'; } /* '' */
.icon-arrow-down:before { content: '\e806'; } /* '' */
.icon-arrow-down-small:before { content: '\e807'; } /* '' */
.icon-arrow-left:before { content: '\e808'; } /* '' */
.icon-arrow-right:before { content: '\e809'; } /* '' */
.icon-arrow-up-small:before { content: '\e80a'; } /* '' */
.icon-image:before { content: '\e80b'; } /* '' */
.icon-bell:before { content: '\e80c'; } /* '' */
.icon-block:before { content: '\e80d'; } /* '' */
.icon-boost-gift:before { content: '\e80e'; } /* '' */
.icon-boost-profile:before { content: '\e80f'; } /* '' */
.icon-token-1:before { content: '\e810'; } /* '' */
.icon-camera:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-close-big:before { content: '\e813'; } /* '' */
.icon-close-small:before { content: '\e814'; } /* '' */
.icon-color-palette:before { content: '\e815'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-contact-book:before { content: '\e817'; } /* '' */
.icon-copy:before { content: '\e818'; } /* '' */
.icon-token-2:before { content: '\e819'; } /* '' */
.icon-default-tello:before { content: '\e81a'; } /* '' */
.icon-delete:before { content: '\e81b'; } /* '' */
.icon-dice:before { content: '\e81c'; } /* '' */
.icon-download:before { content: '\e81d'; } /* '' */
.icon-emoji:before { content: '\e81e'; } /* '' */
.icon-eye-hidden:before { content: '\e81f'; } /* '' */
.icon-eye-shown:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e821'; } /* '' */
.icon-filter:before { content: '\e822'; } /* '' */
.icon-fire:before { content: '\e823'; } /* '' */
.icon-prompt:before { content: '\e824'; } /* '' */
.icon-hint:before { content: '\e825'; } /* '' */
.icon-imessage:before { content: '\e826'; } /* '' */
.icon-user-filled-1:before { content: '\e827'; } /* '' */
.icon-inbox:before { content: '\e828'; } /* '' */
.icon-info-message:before { content: '\e829'; } /* '' */
.icon-info:before { content: '\e82a'; } /* '' */
.icon-instagram:before { content: '\e82b'; } /* '' */
.icon-invite:before { content: '\e82c'; } /* '' */
.icon-language:before { content: '\e82d'; } /* '' */
.icon-like:before { content: '\e82e'; } /* '' */
.icon-bars-vertical:before { content: '\e82f'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-list-bullets:before { content: '\e831'; } /* '' */
.icon-location:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-map:before { content: '\e834'; } /* '' */
.icon-message:before { content: '\e835'; } /* '' */
.icon-messenger:before { content: '\e836'; } /* '' */
.icon-navugation-location:before { content: '\e837'; } /* '' */
.icon-minus:before { content: '\e838'; } /* '' */
.icon-anonymous:before { content: '\e839'; } /* '' */
.icon-no-response:before { content: '\e83a'; } /* '' */
.icon-paperclip:before { content: '\e83b'; } /* '' */
.icon-timer:before { content: '\e83c'; } /* '' */
.icon-pin:before { content: '\e83d'; } /* '' */
.icon-plus:before { content: '\e83e'; } /* '' */
.icon-read:before { content: '\e83f'; } /* '' */
.icon-sad-tello:before { content: '\e840'; } /* '' */
.icon-rounded-arrow:before { content: '\e841'; } /* '' */
.icon-save-image:before { content: '\e842'; } /* '' */
.icon-emo-shoot:before { content: '\e843'; } /* '' */
.icon-send-1:before { content: '\e844'; } /* '' */
.icon-send-tell:before { content: '\e845'; } /* '' */
.icon-settings:before { content: '\e846'; } /* '' */
.icon-send:before { content: '\e847'; } /* '' */
.icon-share:before { content: '\e848'; } /* '' */
.icon-slides:before { content: '\e849'; } /* '' */
.icon-sent-tells:before { content: '\e84a'; } /* '' */
.icon-question-mark:before { content: '\e84b'; } /* '' */
.icon-star:before { content: '\e84d'; } /* '' */
.icon-swipe:before { content: '\e84f'; } /* '' */
.icon-three-dots:before { content: '\e851'; } /* '' */
.icon-text-message:before { content: '\e852'; } /* '' */
.icon-unlock:before { content: '\e855'; } /* '' */
.icon-story:before { content: '\e856'; } /* '' */
.icon-sticker:before { content: '\e857'; } /* '' */
.icon-unsent-tell:before { content: '\e859'; } /* '' */
.icon-text:before { content: '\e85a'; } /* '' */
.icon-verified-outline:before { content: '\e85b'; } /* '' */
.icon-verified-main:before { content: '\e85c'; } /* '' */
.icon-whatsapp:before { content: '\e85d'; } /* '' */
.icon-warning:before { content: '\e85e'; } /* '' */
.icon-comment-filled:before { content: '\e85f'; } /* '' */
.icon-image-filled:before { content: '\e860'; } /* '' */
.icon-login:before { content: '\e861'; } /* '' */
.icon-send-filled:before { content: '\e862'; } /* '' */
.icon-cards-outlined:before { content: '\e863'; } /* '' */
.icon-user-filled:before { content: '\e864'; } /* '' */
.icon-active:before { content: '\e865'; } /* '' */
.icon-apple-logo:before { content: '\e866'; } /* '' */
.icon-notifications-and-dm:before { content: '\e867'; } /* '' */
.icon-user:before { content: '\e868'; } /* '' */
.icon-cart:before { content: '\e869'; } /* '' */
.icon-hint-filled:before { content: '\e86a'; } /* '' */
.icon-arrow-long-up-filled:before { content: '\e86b'; } /* '' */
.icon-check-circled:before { content: '\e86c'; } /* '' */
.icon-heart-filled:before { content: '\e86d'; } /* '' */
.icon-multi-share-1:before { content: '\e86e'; } /* '' */
.icon-settings-filled:before { content: '\e86f'; } /* '' */
.icon-create-community:before { content: '\e870'; } /* '' */
.icon-device:before { content: '\e871'; } /* '' */
.icon-envelope-open:before { content: '\e872'; } /* '' */
.icon-envelope:before { content: '\e873'; } /* '' */
.icon-feedback:before { content: '\e874'; } /* '' */
.icon-key:before { content: '\e875'; } /* '' */
.icon-licence:before { content: '\e876'; } /* '' */
.icon-lines-tello:before { content: '\e877'; } /* '' */
.icon-log-out:before { content: '\e878'; } /* '' */
.icon-moon:before { content: '\e879'; } /* '' */
.icon-more:before { content: '\e87a'; } /* '' */
.icon-no-ads:before { content: '\e87b'; } /* '' */
.icon-rules:before { content: '\e87c'; } /* '' */
.icon-shield-check:before { content: '\e87d'; } /* '' */
.icon-shield:before { content: '\e87e'; } /* '' */
.icon-target:before { content: '\e87f'; } /* '' */
.icon-terms:before { content: '\e880'; } /* '' */
.icon-track:before { content: '\e881'; } /* '' */
.icon-word-filter:before { content: '\e882'; } /* '' */
.icon-inbox-filled:before { content: '\e883'; } /* '' */
.icon-arrow-long-right:before { content: '\e884'; } /* '' */
.icon-multi-share:before { content: '\e885'; } /* '' */
.icon-edit:before { content: '\e886'; } /* '' */
.icon-home-filled:before { content: '\e887'; } /* '' */
.icon-home:before { content: '\e888'; } /* '' */
.icon-notifications-and-dm-filled:before { content: '\e889'; } /* '' */
.icon-search-filled:before { content: '\e88a'; } /* '' */
.icon-search:before { content: '\e88b'; } /* '' */
.icon-write:before { content: '\e88c'; } /* '' */
.icon-edit-1:before { content: '\e88d'; } /* '' */
.icon-share-tab-filled:before { content: '\e88e'; } /* '' */
.icon-share-tab-outlined:before { content: '\e88f'; } /* '' */
.icon-bell-active:before { content: '\e890'; } /* '' */
.icon-swipe-right:before { content: '\e891'; } /* '' */
.icon-arrow-up:before { content: '\e892'; } /* '' */
.icon-fire-filled:before { content: '\e893'; } /* '' */
.icon-android-outlined:before { content: '\e894'; } /* '' */
.icon-facebook-outlined:before { content: '\e895'; } /* '' */
.icon-imessage-outlined:before { content: '\e896'; } /* '' */
.icon-messenger-outlined:before { content: '\e897'; } /* '' */
.icon-network:before { content: '\e898'; } /* '' */
.icon-nsfw:before { content: '\e899'; } /* '' */
.icon-snapchat-outlined:before { content: '\e89a'; } /* '' */
.icon-twitter-x:before { content: '\e89b'; } /* '' */
.icon-two-bubbles:before { content: '\e89c'; } /* '' */
.icon-snapchat-filled:before { content: '\e89d'; } /* '' */
.icon-nsfw-filled:before { content: '\e89e'; } /* '' */
.icon-people:before { content: '\e89f'; } /* '' */
